@using Domain.Enums;
@using Microsoft.AspNetCore.Identity;
@using Microsoft.EntityFrameworkCore.Query;
@using Presentation.ViewModels;

@inject SignInManager<Domain.Entites.User> SignInManager
@inject UserManager<Domain.Entites.User> UserManager

@model IEnumerable<SolutionVM>

@{
    ViewData["Title"] = "My Solutions";
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<h2 style="margin-bottom: 60px; margin-top: 40px"> @ViewData["Title"] </h2>

@foreach (var solItem in Model)
{
    <div class="card bg-primary text-white mb-4">
        <div class="card-body">
            <h5 class="card-title"> @solItem.TaskItem.Title </h5>
            <p class="card-text">
                @solItem.TaskItem.Deadline | @solItem.TaskItem.Reward  @ViewData["Currency"]
            </p>
            <div class="d-flex justify-content-start">
                <button class="btn btn-light mr-2"> Delete </button>
                <button class="btn btn-light"> Comment </button>
            </div>
        </div>
    </div>
}

