@using Microsoft.AspNetCore.Identity;
@using Microsoft.EntityFrameworkCore.Query;
@using Presentation.ViewModels;
@using Domain.Constants;

@inject SignInManager<Domain.Entities.User> SignInManager
@inject UserManager<Domain.Entities.User> UserManager

@model IEnumerable<TaskVM>

@{
    ViewData["Title"] = "Task List";
}

<h2 style="margin-bottom: 60px; margin-top: 40px"> @ViewData["Title"] </h2>

<div class="container container-fluid">
    <div class="row">
        @foreach (var taskItem in Model)
        {
            <div class="card mt-3">
                <div class="card-header">
                    <div style="width:min-content" class="card-title flex-fill"> @taskItem.Title </div>
                    <div style="width:max-content; margin: 0 20px; align-content:end">
                        <a class="btn btn-outline-info" asp-controller="Tasks" asp-action="TaskDetails" asp-route-taskId="@taskItem.Id"><i class="bi bi-eye"></i> Details </a>
                        @if (User.IsInRole(UserRoles.Admin))
                        {
                            <a class="btn btn-outline-primary" asp-controller="Tasks" asp-action="EditTask" asp-route-taskId="@taskItem.Id"><i class="bi bi-pencil-square"></i> Edit </a>
                            <a class="btn btn-danger text-white" asp-controller="Tasks" asp-action="DeleteTask" asp-route-taskId="@taskItem.Id"><i class="bi bi-trash"></i> Delete </a>
                        }
                    </div>
                    <div class="reward-date">
                        <div class="reward">
                            Reward: @taskItem.Reward @ViewData["Currency"]
                        </div>
                        <div class="date">
                            Deadline: @taskItem.Deadline
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title"> Short description: </h5>
                    <p class="card-text"> @taskItem.ShortDescr </p>
                </div>
            </div>
        }
    </div>
</div>

@if (SignInManager.IsSignedIn(User) && User.IsInRole(UserRoles.Admin))
{
    <div style="position: fixed; right: 25px; bottom: 25px;" class="text-white">
        <a asp-controller="Tasks" asp-action="NewTask" class="btn btn-success"><i class="bi bi-plus-circle"></i> Create a task </a>
    </div>
}